@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

@keyframes rotateAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes infiniteRotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-rotation {
  animation: infiniteRotation 3s linear infinite;
}

.visible {
  animation: rotateAnimation 3s linear infinite;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

/* ::-webkit-scrollbar {
  width: 3vh;
}

::-webkit-scrollbar-track {
  width: 3vh;
  height: 40vmax;
  background-image: linear-gradient(to bottom, #3d457a 0%, #02271ac3 100%);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #3d457a 0%, #02271ac3 100%);
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
} */